<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>进行中</title>
</head>
<body>
{% if serves_list %}
    <ul>
    {% for serves in serves_list %}
        <li><a href="{% url 'reception:serves_detail' serves.id %}">{{ serves }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>没有正在进行的服务</p>
{% endif %}
{% if ongoing_serves_charge %}
    <ul>
    {% for charge in ongoing_serves_charge %}
        <li><a href="{% url 'reception:pay' charge.bill_id %}">{{ charge }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% if ongoing_deposit_charge%}
    <ul>
    {% for charge in ongoing_deposit_charge %}
        <li><a href="{% url 'reception:serves_detail' charge.bill_id %}">{{ charge }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
<button type="button">
    <a href="{% url 'reception:dashboard' %}">返回主页</a>
</button>
</body>
</html>