<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>付款</title>
</head>
<body>
    <h2>总额:{{ total }}</h2>
    <h2>入账</h2>
    <table>
        <thead>
            <th>支付方式</th>
            <th>金额</th>
        </thead>
        <tbody>
        {% if incomes %}
            {% for i in incomes %}
            <tr>
                <td>{{ i.method }}</td>
                <td>{{ i.amount }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        {% if bill.voucher %}
            <tr>
                <td>{{ bill.voucher.name }}</td>
                <td>{{ bill.voucher.amount }}</td>
            </tr>
        {% endif %}
        {% if bill.deposit_payment %}
            <tr>
                <td>会员卡支付</td>
                <td>{{ bill.deposit_payment.amount }}</td>
            </tr>
        {% endif %}
            <tr>
                <td>合计入账</td>
                <td>{{ paid }}</td>
            </tr>
            <tr>
                <td>需支付</td>
                <td>{{ unpaid }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_serves %}
    <button type="button">
        <a href="{% url 'reception:serves_detail' back_id %}">返回</a>
    </button>
    <button type="button">
    <a href="{% url 'reception:serves_detail' bill_id %}">会员卡付款</a>
    </button>
    <button type="button">
    <a href="{% url 'reception:serves_detail' bill_id %}">使用代金券</a>
    </button>
    {% else %}
    <button type="button">
    <a href="{% url 'reception:dashboard'%}">返回</a>
    </button>
    {% endif %}
    <button type="button">
    <a href="{% url 'reception:add_payment' bill_id %}">添加入账</a>
    </button>
</body>
</html>