<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>付款</title>
</head>
<body>
    <h2>消费:</h2>
    <p>{{ total }}</p>
    <h4>入账</h4>
    <table>
        <thead>
            <th>记录</th>
            <th>支付方式</th>
            <th>金额</th>
        </thead>
        <tbody>
        {% if incomes %}
        {% for i in incomes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.method }}</td>
                <td>{{ i.amount }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td>核增/减</td>
                <td></td>
                <td>{{ manual }}</td>
            </tr>
            <tr>
                <td>合计</td>
                <td></td>
                <td>{% total-unpaid %}</td>
            </tr>
            <tr>
                <td>需支付</td>
                <td></td>
                <td>{{ unpaid }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
<button type="button">
    <a href="{% url 'reception:serves_detail' serves_id %}">返回</a>
</button>
</body>
</html>