<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>付款</title>
</head>
<body>
    {% if logged_in %}
    <p>客户手机：{{ bill.customer.phone }}</p>
    {% else %}
    <form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="确认">
    </form>
    {% endif %}
    <h2>总额:{{ total }}</h2>
    <h2>入账</h2>
    <table>
        <thead>
            <th>支付方式</th>
            <th>金额</th>
        </thead>
        <tbody>
        {% if incomes %}
            {% for i in incomes %}
            <tr>
                <td>{{ i.get_method_display }}</td>
                <td>{{ i.amount }}</td>
            </tr>
            {% endfor %}
        {% endif %}
        {% if bill.voucher %}
            <tr>
                <td>代金券{{ bill.voucher.type.name }}</td>
                <td>{{ bill.voucher.type.amount }}</td>
            </tr>
        {% endif %}
        {% if bill.depositpayment %}
            <tr>
                <td>会员卡支付</td>
                <td>{{ bill.depositpayment.amount }}</td>
            </tr>
        {% endif %}
            <tr>
                <td>合计入账</td>
                <td>{{ paid }}</td>
            </tr>
            <tr>
                <td>需支付</td>
                <td>{{ unpaid }}</td>
            </tr>
        </tbody>
    </table>
    {% if is_serves %}
        <button type="button">
            <a href="{% url 'reception:serves_detail' back_id %}">返回</a>
        </button>
            {% if bill.customer.card %}
            <button type="button">
                <a href="{% url 'reception:use_deposit' bill.id %}">会员卡付款</a>
            </button>
            {% endif %}
            {% if have_voucher %}
            <button type="button">
                <a href="{% url 'reception:use_voucher' bill.id %}">使用已有优惠券</a>
            </button>
            {% endif %}
        <button type="button">
            <a href="{% url 'reception:use_meituan' bill.id %}">使用美团优惠券</a>
        </button>
    {% else %}
        <button type="button">
        <a href="{% url 'reception:customer_detail' back_id%}">返回</a>
        </button>
    {% endif %}
    {% if cleared %}
    <a href="{% url 'reception:done' bill.id%}">完成</a>
    {% else %}
    <button type="button">
    <a href="{% url 'reception:add_payment' bill.id %}">添加入账</a>
    </button>
    {% endif %}
</body>
</html>