<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>服务详情</title>
</head>
<body>
<p>女仆详情</p>
{% if maid_detail %}
    <table>
        <thead>
            <th>女仆</th>
            <th>开始</th>
            <th>结束</th>
            <th>时长/h</th>
            <th>单价</th>
            <th>总价</th>
        </thead>
        <tbody>
        {% for d in maid_detail %}
            <tr>
                <td>{{ d.name }}</td>
                <td>{{ d.start }}</td>
                <td>{{ d.end }}</td>
                <td>{{ d.hour }}</td>
                <td>{{ d.price }}</td>
                <td>{{ d.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if place_detail %}
    <table>
        <thead>
            <th>场地</th>
            <th>开始</th>
            <th>结束</th>
            <th>时长/h</th>
            <th>单价</th>
            <th>总价</th>
        </thead>
        <tbody>
        {% for d in place_detail %}
            <tr>
                <td>{{ d.name }}</td>
                <td>{{ d.start }}</td>
                <td>{{ d.end }}</td>
                <td>{{ d.hour }}</td>
                <td>{{ d.price }}</td>
                <td>{{ d.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if item_detail %}
    <table>
        <thead>
            <th>项目</th>
            <th>数量</th>
            <th>单价</th>
            <th>总价</th>
        </thead>
        <tbody>
        {% for d in item_detail %}
            <tr>
                <td>{{ d.name }}</td>
                <td>{{ d.quantity }}</td>
                <td>{{ d.price }}</td>
                <td>{{ d.total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if serves.active %}
<button type="button">
    <a href="{% url 'reception:change_status' serves.id %}">改变女仆/场地状态</a>
</button>
<button type="button">
    <a href="{% url 'reception:add_item' serves.id %}">增加项目</a>
</button>
<button type="button">
    <a href="{% url 'reception:check_out' serves.id %}">check out</a>
</button>
{% elif serves.servescharge.bill.customer %}
<button type="button">
    <a href="{% url 'reception:customer_detail' serves.servescharge.bill.customer_id %}">返回</a>
</button>
{% endif %}
<button type="button">
    <a href="{% url 'reception:dashboard' %}">返回主页</a>
</button>
</body>
</html>