<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>服务详情</title>
</head>
<body>
<p>女仆详情</p>
{% if maid_detail %}
    <table border="#000000">
        <thead>
            <th>女仆</th>
            <th>单价</th>
            <th>时长/h</th>
            <th>总价</th>
        </thead>
        <tbody>
        {% for d in maid_detail %}
            <tr><td>{{ d.name }}</td><td>{{ d.price }}</td><td>{{ d.hour }}</td><td>{{ d.total }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if place_detail %}
    <table border="#000000">
        <thead>
            <th>场地</th>
            <th>单价</th>
            <th>时长/h</th>
            <th>总价</th>
        </thead>
        <tbody>
        {% for d in place_detail %}
            <tr><td>{{ d.name }}</td><td>{{ d.price }}</td><td>{{ d.hour }}</td><td>{{ d.total }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if item_detail %}
    <table border="#000000">
        <thead>
            <th>项目</th>
            <th>单价</th>
            <th>数量</th>
            <th>总价</th>
        </thead>
        <tbody>
        {% for d in item_detail %}
            <tr><td>{{ d.name }}</td><td>{{ d.price }}</td><td>{{ d.quantity }}</td><td>{{ d.total }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

</body>
</html>