{% extends 'base.html' %}
{% block header %}
    <title>添加项目</title>
{% endblock %}
{% block content %}
    <form class="pure-form" action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="pure-button" type="submit" value="确认">
        <button type="button" id="back" class="pure-button">返回</button>
    </form>

    <script>
        $('#back').on('click',function(){
        window.location.href="{% url 'reception:serves_detail' serves_id %}";
        })
    </script>
{% endblock %}