{% extends 'base.html' %}
{% block header %}
    <title>Check In</title>
{% endblock %}
{% block content %}
    <form class="pure-form" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="pure-button" value="确认">
        <button type="button" id="back" class="pure-button">返回</button>
    </form>
    <br>
    <script>
        $('#back').on('click',function(){
        window.location.href="{% url 'reception:dashboard' %}";
        })
    </script>
{% endblock %}