{% extends 'base.html' %}
{% block header %}
    <title>开卡</title>
{% endblock %}
{% block content %}
    <p>客户手机：{{ customer.phone }}</p>
    <form class="pure-form" action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="pure-button" value="确认入账">
        <button type="button" id="back" class="pure-button">返回</button>
    </form>
    <br>
    <script>
        $('#back').on('click',function(){
            history.back();
        })
    </script>
{% endblock %}